body {
    font-family: Arial, sans-serif; /* Шрифт для всего тела страницы */
    line-height: 1.6; /* Высота строки */
    margin: 0;
    padding: 0;
    background-color: #e4b7e0; /* Цвет фона */
}

/* Заголовки */
h1, h2 {
    color: #333; /* Темно-серый цвет текста */
    text-align: center; /* Выровнять текст по центру */
}

/* Стили для абзацев */
p {
    margin: 15px 0; /* Отступы сверху и снизу */
    color: #666; /* Светло-серый цвет текста */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении курсора */
}

/* Кнопки */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.button:hover {
    background-color: #0056b3; /* Темнее при наведении курсора */
}

/* Контейнер для формы и заметок */
.container {
    display: flex; /* Используем flexbox для размещения колонок */
    justify-content: space-between; /* Распределяем пространство между колонками */
    max-width: 1000px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    color: #291212;
}

/* Стили для формы */
.form-container {
    flex: 1; /* Занимает 1 часть доступного пространства */
    margin-right: 80px; /* Отступ справа */
    border-radius: 5px;

}

/* Карточка (пример компонента) */
.card {
    background-color: #e1d2d2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px; /* Отступ снизу */
    width: 100%; /* Занимает 100% ширины родительского контейнера */
    max-width: 600px; /* Максимальная ширина карточки */
}

/* Контейнер для заметок */
.notes-container {
    flex: 2; /* Занимает 2 части доступного пространства */
    display: flex; /* Используем flexbox для автоматической регулировки ширины */
    flex-direction: column; /* Вертикальная компоновка */
}
.messages {
    list-style-type: none;
}

.messages li {
    padding: 10px;
    margin: 5px 0;
}

.messages .success {
    background-color: #d4edda; /* Зеленый фон для успешного сообщения */
}