{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_styles.css' %}">
    <title>Создать новую заметку</title>
</head>
<body>
    <h2>Создать новую заметку</h2>

    <!-- Ссылка на главную страницу -->
    <p><a href="{% url 'notes_app:main' %}">На главную страницу</a></p>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'notes_app:create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Сохранить</button>
    </form>

</body>
</html>