{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ note.title }}</title>
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
</head>
<body>
<main>
    <section class="note-detail">
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <small>Создано: {{ note.created_at }}</small>

        <!-- Кнопки для редактирования и удаления -->
        <div class="note-actions">
            <a href="{% url 'notes_app:note_update' note.pk %}">Редактировать</a> |
            <a href="{% url 'notes_app:note_delete' note.pk %}">Удалить</a> |
            <a href="{% url 'notes_app:main' %}">Назад к списку заметок</a>
        </div>
    </section>
</main>
</body>
</html>