{% extends 'notes_app/main.html' %}

{% load static %}

<head>
    <meta charset="UTF-8">
    {% block title %}Список заметок{% endblock %}
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
</head>
<body>
{% block content %}
    <section class="note-list">
        <!-- Элементы управления сортировкой -->
        <div class="sorting-controls">
            <a href="?sort=new" class="{% if request.GET.sort == 'new' %}active{% endif %}">Сначала новые</a>
            <a href="?sort=old" class="{% if request.GET.sort == 'old' %}active{% endif %}">Сначала старые</a>
        </div>
        {% if notes %}
            <div class="notes-container">
                {% for note in notes %}
                    <div class="note-item">
                        <h3><a href="{% url 'notes_app:note_detail' note.pk %}">{{ note.title }}</a></h3>
                        <p>{{ note.content }}</p>
                        <small>Создано: {{ note.created_at }}</small>
                        <div class="note-actions">
                            <a href="{% url 'notes_app:note_update' note.pk %}">Редактировать</a>
                            <a href="{% url 'notes_app:note_delete' note.pk %}">Удалить</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if notes.has_other_pages %}
                <div class="pagination">
                    <span class="step-links">
                        {% if notes.has_previous %}
                            <a href="?sort={{ request.GET.sort }}&page=1">&laquo; Первая</a>
                            <a href="?sort={{ request.GET.sort }}&page={{ notes.previous_page_number }}">Предыдущая</a>
                        {% endif %}

                        <span class="current">
                            Страница {{ notes.number }} из {{ notes.paginator.num_pages }}.
                        </span>

                        {% if notes.has_next %}
                            <a href="?sort={{ request.GET.sort }}&page={{ notes.next_page_number }}">Следующая</a>
                            <a href="?sort={{ request.GET.sort }}&page={{ notes.paginator.num_pages }}">Последняя &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <p>У вас пока нет заметок. Добавьте новую!</p>
        {% endif %}
    </section>
</main>
</body>
{% endblock %}